@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Prompt:wght@100&display=swap');

.container {
    display: flex;
    background-color: #e5e0e0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    font-family: 'Prompt', sans-serif;
    
}

.container img {
    background-color: #e5e0e0;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: 0 5%;
}

.container div {
    box-shadow: 0 0 10px 10px rgb(0,0,0,0.5);
    text-align: center;
    background-color: rgb(166, 166, 194);
    border-radius: 10%;
    
    padding: 20px;
    margin: 10 5%;
}

.container .valor {
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 0 0.5px 0.5px;
}

.container .porcentagem {
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 0 0.5px 0.5px;
}

.container button {
    background-color: #fc81d7;

    border-radius: 15px;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0 0 0.5px 0.5px;
    cursor: pointer;

}

.container button:hover {
    background-color: #11fd00;
}